* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.container {
    width: 100%;
    justify-content: space-between;
    height: 100vh;
}
.preview {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.adjustment {
    margin-left: 0.7em;
    font-weight: 700;
}
.input-data {
    padding: 1em 2em;
}
.input-data .tag-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.preview .tag-data {
    border: 1px solid black;
    /* height: 92mm; */
    /* padding: 0.7em 0; */
    /* margin: 0.2em 0; */
}
.preview .tag-data .tag-header {
    text-align: center;
    width: 100%;
}
.input-data .tag-data div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.tag-data input {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1em;
}
.tag-data h2 {
    margin-bottom: 0.3em;
}
.input-data .add-btn button {
    padding: 0.4em 1em;
    margin-right: 1em;
    border-radius: 5px;
    background: rgb(21, 184, 21);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 0.9em;
}
.input-data .add-btn button:hover {
    cursor: pointer;
}
.preview .tag-preview-data {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-top: 0.5em;
}
.preview .tag-preview-data p, span {
    margin: 0.2em 0;
    font-weight: 600;
    font-size: 1em;
}
.preview .po-ref {
    text-align: center;
    width: 100%;
    margin: 0.3em 1em 0.2em 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* justify-content: cent; */
}
.preview .po-ref p {
    margin-right: 7px;
}
.preview .tag-credentials {
    /* background-color: blueviolet; */
    display: flex;
    justify-content:space-between;
    margin: 0.7em 1em 0 0em;
    grid-column: 1/3;
}
.tag-credentials p {
    width: 50%;
    text-align: left;
    font-weight: 600;
}
.stamp-pushed {
    grid-column: 1 / 3;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stamp-pushed .grid-continue {
    width: 80%;
    display: grid;
    grid-template-columns: 1.35fr 3fr;
}
.stamp-pushed .insp-stamp {
    width: 85px;
    height: 90px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1em;
}
.stamp-pushed .insp-stamp p {
    font-size: 1em;
    color: #000000a0;
    /* text-align: center; */
}
.saveAsPdf {
    display: 100%;
    padding: 1em;
}
.saveAsPdf button {
    display: block;
    margin: auto;
    padding: 0.5em 1.3em;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: rgb(29, 107, 216);
    color: white;
}
.saveAsPdf button:hover {
    cursor: pointer;
}
